{% extends 'base.html' %}

{% load static %}
{% block content %}

<style>
    table, th, td {
      border: 1px solid black;
    }
    </style>

<p>Money earned from sellings: <strong>{{ money.total }}</strong> </p>
<p>Earnings with a discount of {{ money.discount }}% off: <strong>{{ discount_total|floatformat:2 }}</strong> </p>

<form method='POST' action='.' enctype='multipart/form-data'> 
    {% csrf_token %}

    {{ form.as_p }} 
    <input type='submit' value='Save Discount'>
</form>

<br>
<small><a href="{% url 'reset' %}">Reset Earnings & Discount</a></small> 
<hr>
<p>To add a new image to sell: <a href="{% url 'create' %}">Create</a></p>

<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Image</th>
        <th>Quantity</th>
    </tr>
    {% for instance in object_list %}
    <tr>
        <td>{{ instance.title }}</td>
        <td>${{ instance.price }}</td>
        <td><img src="{{ instance.imageURL }}" style="width:200px"></td>
        <td>{{ instance.quantity }}</td>
        <td><strong><a href="{{ instance.get_sell_url }}">Sell</a></strong></td>
        <td><a href="{{ instance.get_delete_url }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}